{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}Você está prestes a se conectar uma conta de terceiros do {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Cadastrar via {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}Você está prestes a fazer login com um conta de terceiros de {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit">{% trans "Continue" %}</button>
</form>
{% endblock %}