{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}
    {% trans "Redefinir Senha" %}
{% endblock %}

{% block main %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1>{% trans "Redefinição de Senha" %}</h1>
        {% if user.is_authenticated %}
        {% endif %}

        <p>
            {% blocktrans %}
                Esqueceu sua senha? Informe seu e-mail abaixo,
                e nós enviaremos um e-mail para que você possa trocar sua senha.
            {% endblocktrans %}
        </p>

        <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <p>{{ form|crispy }}</p>
            <p><button class="btn btn-primary" type="submit">{% trans 'Redefinir minha senha' %}</button></p>
        </form>
        <p><a href="{% url 'home' %}">Voltar</a></p>
        <p>
            {% blocktrans %}
                Por favor nos contate caso ocorra qualquer problema durante a redefinição de senha.
            {% endblocktrans %}
        </p>
        <br>
    </div>

{% endblock %}
