{% extends '_base.html' %}

{% load i18n %}
{% load account %}

{% block title %}
    {% trans "Redefinir Senha" %}
{% endblock %}

{% block main %}
    <br>
    <br>
    <br>
    <br>
    <h1>{% trans "Redefinição de Senha" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

        <p>
            {% blocktrans %}
                Nós lhe enviamos um e-mail. Se você não recebeu um e-mail, por favor verifique sua caixa de Spam.
                De outra forma, nos contacte se você não receber um e-mail em alguns minutos.
            {% endblocktrans %}
        </p>
{% endblock %}