{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}
    {% trans "Trocar Senha" %}
{% endblock %}
{% block subheadtext %}{% trans "Trocar Senha" %}{% endblock %}
{% block main %}
    <div class="container">
        <form method="post" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <p>{{ form|crispy }}</p>
            <p><button class="btn btn-info" type="submit">{% trans 'Trocar Senha' %}</button></p>
        </form>
        <p><a href="{% url 'home' %}">Voltar</a></p>
        <p><a href="{% url 'account_reset_password' %}">{% trans "Esqueceu a senha?" %}</a></p>
        <br>
    </div>

{% endblock %}
