{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}
    {% trans "Trocar senha" %}
{% endblock %}

{% block subheadtext %}
    {% if token_fail %}
        {% trans "Token inválido" %}
    {% else %}
        {% trans "Trocar senha" %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                {% blocktrans %}
                    O link para a redefinição de senha estava inválido, possivelmente porque ele já foi usado.
                    Por favor solicite <a href="{{ passwd_reset_url }}">nova redefinição de senha</a>
                {% endblocktrans %}
            </p>
        {% else %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <p><button class="btn btn-info" type="submit">{% trans 'Trocar senha' %}</button></p>
            </form>
        {% endif %}
    </div>
{% endblock %}
